body, html { 
    margin: 0; padding: 0; overflow: hidden; 
    background-color: #1a0a10; font-family: 'Segoe UI', sans-serif; 
    touch-action: none; 
}

#menu {
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    text-align: center; background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); color: white; padding: 30px; 
    border-radius: 30px; border: 2px solid #ff69b4; z-index: 100;
}

h1 { color: #ff69b4; text-shadow: 0 0 10px #ff69b4; margin: 0; font-size: 2rem; }

.button-group { display: flex; flex-direction: column; gap: 10px; margin-top: 20px; }

.btn { 
    padding: 15px; cursor: pointer; border: none; border-radius: 15px; 
    font-weight: bold; font-size: 16px; color: white; 
}

.pink-light { background: #ffb6c1; color: #555; }
.pink-med { background: #ff69b4; }
.pink-dark { background: #c71585; }

/* Design des touches Android */
#controls {
    position: absolute; bottom: 30px; left: 50%; 
    transform: translateX(-50%); display: flex; flex-direction: column;
    align-items: center; gap: 5px; z-index: 200;
}

.middle-row { display: flex; gap: 40px; }

#controls button {
    width: 70px; height: 70px; border-radius: 50%; 
    border: 2px solid rgba(255, 105, 180, 0.5);
    background: rgba(255, 105, 180, 0.2); color: white; 
    font-size: 30px; display: flex; align-items: center; justify-content: center;
    user-select: none; -webkit-tap-highlight-color: transparent;
}

canvas { display: block; }
